<!DOCTYPE html>
<html lang="eng" xmlns:th="https://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Escape The Room - Add Participant</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">Peddy Room System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/museum">Museum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/interactionpies">Interaction Pies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/databases">Databases</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Games
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item active" href="/escapetheroom">Escape The Room</a>
                        <a class="dropdown-item" href="#">Peddy Paper</a>
                        <a class="dropdown-item" href="#">Who Wants To Be An Engineer</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Add Participant</h1>
                <p>On this page an Administrator can add participants to the Escape The Room until the maximum number of
                participants is reached.</p>
            </div>
        </div>
    </main>

    <form class="col-md-6 col-md-offset-6" style="margin-left: 390px;" th:action="@{/escapetheroom/instances/{id}/participants/add/submit(id = ${EscapeTheRoomID})}" th:object="${Participant}" method="post">
        <h5>Participant's First Name</h5>
        <input class="form-control" th:field="*{firstName}" placeholder="First Name" type="text">
        <h5>Participant's Last Name</h5>
        <input class="form-control" th:field="*{lastName}" placeholder="Last Name" type="text">
        <h5>Participant's Email Address</h5>
        <input class="form-control" th:field="*{emailAddress}" placeholder="E-mail" type="email">
        <h5>Participant's Age</h5>
        <input class="form-control" th:field="*{age}" placeholder="Age" type="number">
        <h5>Participant's Gender</h5>
        <select class="form-control" th:field="*{gender}">
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
            <option value="NON-BINARY">Non-Binary</option>
        </select>
        <button class="btn btn-primary" style="margin-top: 10px;" type="submit">Add Participant</button>
    </form>

</body>
</html>