<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <title>Escape The Room</title>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/home">Peddy Room System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/museum">Museum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/interactionpies">Interaction Pies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/databases">Databases</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Games
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item active" href="/escapetheroom">Escape The Room</a>
                            <a class="dropdown-item" href="#">Peddy Paper</a>
                            <a class="dropdown-item" href="#">Who Wants To Be An Engineer</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">Escape The Room</h1>
                    <p>The Escape The Room game is the very first interaction that was deployed in the Peddy Room System and
                    consists of several microcontrollers, each one executing a certain mini-games that awards players with points and
                    clues so they can progress throughout the Escape The Room and complete it within the given time of 1 hour</p>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-3" style="margin: auto auto 5px;">
                        <h2 style="text-align: center">New Game</h2>
                        <p>Create a new Escape The Room games with at most 4 participants and at least 2 of them. The games will
                        have a duration of 1 hour and can be terminated at any time. The Sooner players finish, the bigger their
                        score.</p>
                        <p style="text-align: center"><a class="btn btn-secondary" href="/escapetheroom/new" role="button">New Game »</a></p>
                    </div>
                    <div class="col-md-3" style="margin: auto auto 5px;">
                        <h2 style="text-align: center">Game Instances</h2>
                        <p>Check all of the Escape The Room games that have been created but not yet started or completed.
                        From here you can select an Escape The Room games to manage it.</p>
                        <p style="text-align: center"><a class="btn btn-secondary" href="/escapetheroom/instances" role="button">Game Instances »</a></p>
                    </div>
                    <div class="col-md-3" style="margin: auto auto 5px;">
                        <h2 style="text-align: center">Leaderboards</h2>
                        <p>Check the leaderboards of this Game in order to check the highest scores achieved by players as
                        well as other pieces of information regarding those same runs such as time taken, clues requested, etc...</p>
                        <p style="text-align: center"><a class="btn btn-secondary" href="#" role="button">Leaderboards »</a></p>
                    </div>
                </div>
                <hr>
            </div>
        </main>

    </body>
</html>