<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Escape The Room - Add Interactions</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Peddy Room System</a>
    <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/museum">Museum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/interactionpies">Interaction Pies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/databases">Databases</a>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle active"
                   data-toggle="dropdown"
                   href="#"
                   id="navbarDropdownMenuLink" role="button">
                    Games
                </a>
                <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                    <a class="dropdown-item active" href="/escapetheroom">Escape The Room</a>
                    <a class="dropdown-item" href="#">Peddy Paper</a>
                    <a class="dropdown-item" href="#">Who Wants To Be An Engineer</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Add Interactions</h1>
            <p>Here an administrator can manage the interactions that will take part in this Escape The Room instance.
                If no Interactions are selected the system will automatically select random interactions to be used in
                game if there are any interactions available.</p>
        </div>
    </div>
</main>

<div class="col-md-7 col-md-offset-7" style="margin: auto;">
    <table class="table" style="text-align: center;">
        <thead>
        <tr>
            <th scope="col">Interaction Pi Address</th>
            <th scope="col">Interaction Name</th>
            <th scope="col">Phase</th>
        </tr>
        </thead>
        <tbody>
            <span th:each="interaction : ${Interactions}">
                <tr th:each="interactionName : ${interaction.getInteractionNames()}">
                    <td><span th:text="${interaction.getAddress().getHostAddress()}">InteractionPi Address</span></td>
                    <td><span th:text="${interactionName}">Interaction Name</span></td>
                    <td>
                        <form method="post" style="text-align: center; display: inline-flex;" th:action="@{/escapetheroom/instances/{id}/interactions/add/submit(id = ${EscapeTheRoomID})}" th:object="${InteractionDTO}">
                            <input class="form-control" hidden th:data1="${interaction.getAddress().getHostAddress()}" th:field="*{interactionPiAddress}" type="text">
                            <input class="form-control" hidden th:data1="${interactionName}" th:field="*{interactionName}" type="text">
                            <input style="text-align: center; width: 250px;" class="form-control" th:field="*{phase}" placeholder="Phase" type="number">
                            <button class="btn btn-primary" th:onclick="javascript:setValueAttribute(this.parentElement);" type="submit" style="margin-left: 50px;">Add Interaction</button>
                        </form>
                    </td>
                </tr>
            </span>
        </tbody>
    </table>
</div>

<script>
    function setValueAttribute(element) {
        var children = element.childNodes;
        children.forEach(child => setValue(child));
    }

    function setValue(element) {
        if(element.tagName === "INPUT") {
            element.setAttribute("value", element.getAttribute("data1"));
        }else{
            console.log(element.tagName)
        }
    }
</script>

</body>
</html>