<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>Escape The Room - Status</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">Peddy Room System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/museum">Museum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/interactionpies">Interaction Pies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/databases">Databases</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Games
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item active" href="/escapetheroom">Escape The Room</a>
                        <a class="dropdown-item" href="#">Peddy Paper</a>
                        <a class="dropdown-item" href="#">Who Wants To Be An Engineer</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Escape The Room Status</h1>
                <p>In this page the status of the ongoing Escape The Room can be checked so as to see how much time
                    left until the end of then game, information regarding the interactions that are taking part in this
                    run of the game, their respective solutions and whether or not if they have been solved. One can also
                    see the clues that have been handed out, amongst many other types of information.</p>
            </div>
        </div>
    </main>

    <div style="align-items: center; display: flex; justify-content: space-around;">
        <h4>Group Name: <span th:text="${GroupName}">Group Name</span></h4>
        <h3>Time Left: <span th:text="${TimeLeft}">Time</span></h3>
        <h3>Current Score: <span th:text="${CurrentScore}">Score</span></h3>
        <h3>Conclusion Percentage: <span th:text="${PercentageOfConclusion}">Percentage Of Conclusion</span></h3>
    </div>

    <br>

    <hr style="width: 90%;">

    <br>

    <div style="align-items: center; display: flex; justify-content: space-around;">
        <div style="float: left; width: 50%; margin-right: 2%; margin-left: 20px;">
            <table class="table" style="text-align: center; margin-top: 16px;">
                <thead>
                    <tr>
                        <th scope="col">Interaction Pi</th>
                        <th scope="col">Interaction Name</th>
                        <th scope="col">Solution</th>
                        <th scope="col">Status</th>
                        <th scope="col">Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="interaction : ${Interactions}">
                        <td><span th:text="${interaction.getInteractionPi().getIP().getHostAddress()} + ':' + ${interaction.getInteractionPi().getPORT()}">Interaction Pi</span></td>
                        <td><span th:text="${interaction.getInteractionName()}">Interaction Name</span></td>
                        <td><span th:text="${interaction.getInteractionSolution()}">Solution</span></td>
                        <td>
                            <span th:if="${interaction.getInteractionStatus().toString() == 'SOLVED'}" style="color: green">SOLVED</span>
                            <span th:if="${interaction.getInteractionStatus().toString() == 'UNSOLVED'}" style="color: red">UNSOLVED</span>
                        </td>
                        <td><span th:text="${interaction.getAcquiredPoints()}">Points</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="float: right; width: 50%; margin-right: 20px;">
            <div>
                <table class="table" style="text-align: center;">
                    <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Age</th>
                        <th scope="col">Gender</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="participant : ${Participants}">
                        <td><span th:text="${participant.getFirstName()}">First Name</span></td>
                        <td><span th:text="${participant.getLastName()}">Last Name</span></td>
                        <td><span th:text="${participant.getEmailAddress()}">Email Address</span></td>
                        <td><span th:text="${participant.getAge()}">Age</span></td>
                        <td><span th:text="${participant.getGender()}">Gender</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</body>
</html>